.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
}
.todo__input {
  max-width: 350px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  outline: none;
}
.todo__btn {
  background-color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #eaeaea;
  padding: 10px 0;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  outline: none;

  &:hover {
    background: #eaeaea;
    color: #1f1f1f;
  }
}
