.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #080808;
  min-height: 100vh;
  width: 100%;
}
.logo {
  color: #eaeaea;
  margin-top: 20px;
  margin-bottom: 25px;
}
.main {
  margin-top: 150px;
}
